<div class="padding-bottom mobile-text mobile-padding" style="margin:0 auto" ng-hide="sFolder.length">
	<p class="bold">Please choose from our selection of albums to view...</p>
	<button ng-repeat="(key, value) in folders" ng-click="selectFolder(key)" type="button" class="album-button btn-album btn btn-default btn-lg article" title="Click to View">{{ key }}</button>
</div>
<div align="center" class="mobile-text mobile-padding slideshow-image" ng-show="sFolder.length">
	<div ng-hide="loaded" style="width:600px; height:400px">
		<img src="../images/loading.gif" alt="Loading">
	</div>
	<div ng-show="loaded">
	<a ng-click="goToSelection()" class="cursor">Back to selection..</a>
	<!-- When the images have loaded, display them -->
	<div class="images">
		<img ng-repeat="x in sFolder" ng-class="{true: 'slide-active'}[{{$index}} == sIndex]" ng-src="{{ x.path }}" alt="{{ x.title }}">
	</div>
	<!-- Spinner for when the images are loading -->	
	<p>
		{{ sFolder[sIndex].title }}
	</p>
	<div class="image-nav">
		<img ng-mouseenter="hover1=true" ng-mouseleave="hover1=false" ng-class="{true:'nav-button'}[hover1]" alt="prev" src="../images/prev.png" ng-click="prevSlide()">
		<span>{{ sIndex + 1 }}/{{ sFolder.length }}</span>
		<img ng-mouseenter="hover2=true" ng-mouseleave="hover2=false" ng-class="{true:'nav-button'}[hover2]" alt="next" src="../images/next.png" ng-click="nextSlide()">
	</div>
	</div>	
</div>