<div id="container">
	<div id="content">
		<div class="sidebar primary">
			<div ng-repeat="x in videos">
			<div ng-click="selectVideo($index)" class="btn btn-default btn-video" ng-class="{true: 'active-video'}[{{$index}} == sIndex]" title="Click to watch">
				{{ x.title }}
			</div>
			</div>
		</div>
		<div class="main show-hide" ng-show="sIndex != -1">
			<p class="vid-text">{{ videos[sIndex].title }} <br> {{ videos[sIndex].desc }}</p>
			<video width="600" ng-src="{{videos[sIndex].path}}" controls autoplay>
				Your browser doesn't support this video, please try Google Chrome or Firefox
			</video>
		</div>
		<div class="main italic center" ng-show="sIndex == -1">
			Please select a video to watch from the list..
		</div>
	</div>
	<div class="mobile-video">
		<div ng-repeat="x in videos">
		<div ng-click="selectVideo($index)" class="btn btn-default btn-video" ng-class="{true: 'active-video'}[{{$index}} == sIndex]" title="Click to watch">
			{{ x.title }}
		</div>
		</div>
	</div>
</div>