<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="UTF-8" />
<title>Tony Leliw | Portfolio</title>
<!-- <base href="https://www.tony-leliw.com/" />  -->
<meta name="description" content="Portfolio of Tony Leliw" />
<meta name="keywords" content="Tony, Leliw, Writer, Journalist" />
<meta name="msvalidate.01" content="" /> <!-- Website verification -->
<link href="images/book.png" rel="icon" />
<meta name="theme-color" content="#379CD0" />
<link href="https://www.tony-leliw.com/" rel="canonical" />
<meta name="viewport" content="initial-scale=1">
<script src="modules/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css"></script>
<script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="stylesheets/style.css">
<script src="modules/angular/angular.min.js"></script>
<script src="modules/angular-route/angular-route.min.js"></script>
<script src="modules/typed.js/dist/typed.min.js"></script>
<script src="javascripts/controllers.js"></script>
</head>
<body ng-app="portfolio">

<div class="canvas">
	<div class="container">
		<div class="row center">
			<div class="col-xs-12 padding-bottom">
				<h3 class="element"></h3>
			</div>
		</div>
		<div class="row padding-bottom center">
			<div class="col-xs-3">
				<a class="nav" href="#/home">HOME</a>
			</div>
			<div class="col-xs-3">
				<a class="nav" href="#/media">MEDIA</a>
			</div>
			<div class="col-xs-3">
				<a class="nav" href="#/articles">ARTICLES</a>
			</div>
			<div class="col-xs-3">
				<a class="nav" href="#/contact">CONTACT</a>
			</div>
		</div>
	</div>

	<div ng-view></div>

</div>

<!-- Footer -->
<div class="row footer">
	<div class="col-xs-12">
		&copy; <script>document.write(new Date().getFullYear())</script> Tony-Leliw.com - 
		Powered by <a href="http://uk.godaddy.com/" target="_blank">GoDaddy</a>
	</div>
</div>
<script>
	$(document).on('ready', function(){
		$(function(){
		    $(".element").typed({
		    	strings: ["TONY LELIW"],
		      	typeSpeed: 250,
		      	startDelay: 100
		    });
		});

		var removeCursor = function(){
			$('.typed-cursor').css('visibility', 'hidden');
		}
		setTimeout(removeCursor, 5000);

	});

</script>
</body>
</html>
