<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="UTF-8" />
<title>Tony Leliw | Portfolio</title>
<!-- <base href="https://www.tony-leliw.com/" />  -->
<meta name="description" content="Portfolio of Tony Leliw" />
<meta name="keywords" content="Tony, Leliw, Writer, Journalist" />
<meta name="msvalidate.01" content="" /> <!-- Website verification for Microsoft Bing-->
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="language" content="english">
<meta name="theme-color" content="#379CD0" />
<meta name="author" content="Alex Batoryk-Leliw">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="images/book.png" rel="icon" />
<link href="http://www.tony-leliw.com/" rel="canonical" />
<script src="modules/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="modules/bootstrap/dist/css/bootstrap.min.css"></script>
<script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="stylesheets/style.css">
<script src="modules/angular/angular.min.js"></script>
<script src="modules/angular-route/angular-route.min.js"></script>
<script src="modules/typed.js/dist/typed.min.js"></script>
<script src="javascripts/websiteCtrls.js"></script>
</head>
<body ng-app="portfolio">
<style>
@media (max-width: 800px){
	.nav-bar { width:100%; }
	.images {width: 500px; height: 333.333px;}
	video {width: 100%;}
	#container {width: 100%!important;}
	.mobile-video {display: block!important;}
	.sidebar {display:none!important;}
	.main {padding: 0 20px;}
	video {margin-left: 0!important;}
	.vid-text {padding-left: 0!important;}
}
@media (max-width: 640px){
	.images {width: 200px; height: 166.666px;}
	.canvas { padding: 20px 0; }
	.mobile-padding { padding: 20px 15px 0 15px;}
	.mobile-text { width: 100%; }
	video {width: 100%;}
}
@media (max-width: 380px){
	.nav-link {width:100%; float:left;}
}
</style>
<div class="canvas">
	<div class="center">
		<div class="col-xs-12 padding-bottom">
			<h3 class="element"></h3>
		</div>
	</div>
  	<div class="nav-bar container">
  		<div class="nav-link">
	        <a href="#/home">Home</a>
	    </div>
		<div class="nav-link">
			<div class="dropdown">
			  	<a class="dropbtn" href="#/media">Media</a>
			  	<div class="dropdown-content">
			    	<a href="#/media/images">Images</a>
			    	<a href="#/media/audio">Audio</a>
			    	<a href="#/media/videos">Videos</a>
			  	</div>
			</div>
	    </div>
	    <div class="nav-link">
	        <a href="#/articles">Articles</a>
	    </div>
	    <div class="nav-link">
	        <a href="#/contact">Contact</a>
	    </div>
    </div>
    <hr class="nav-bar">

    <!-- Angular route partials are injected into here -->
    <div ng-view></div>	
</div>

<!-- Footer -->
<div class="footer">
	<div class="col-xs-12">
		&copy; <script>document.write(new Date().getFullYear())</script> Tony-Leliw.com - 
		Powered by <a href="http://uk.godaddy.com/" target="_blank">GoDaddy</a>
	</div>
</div>
<script>
$(document).on('ready', function(){
	$(function(){
	    $(".element").typed({
	    	strings: ["TONY LELIW"],
	      	typeSpeed: 250,
	      	startDelay: 100
	    });
	});

	var removeCursor = function(){
		$('.typed-cursor').css('visibility', 'hidden');
	}
	setTimeout(removeCursor, 5000);
});
</script>
</body>
</html>
