<!DOCTYPE html>
<html>
<head>
	<title>Tony Leliw | Article</title>
	<script>
	</script>
</head>
<body style="margin:0">
	<div style="width:100%; height:100%; overflow: scroll">
		<img src="../../assets/link/<%= path %>">
	</div>
	
</body>
</html>