<!DOCTYPE html>
<html>
<head>
	<title>Tony Leliw | Article</title>
	<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
</head>
<body style="margin:0">
	<div class="dragscroll" style="width:100%;overflow-x:scroll;cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
        <img src="../../assets/link/<%= path %>">
    </div>
</body>
</html>