<!doctype html>
<html>
<head>
<script src="modules/jquery/dist/jquery.min.js"></script>
<script src="modules/angular/angular.min.js"></script>
<script src="modules/angular-route/angular-route.min.js"></script>
<script src="javascripts/controllers.js"></script>
<script src="modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="modules/angular-file-upload-shim/dist/angular-file-upload-shim.min.js"></script>
	<title>Upload here</title>
</head>
<body ng-app="portfolio">

<p>Please enter the password in order to go to the uploads page</p>
<form action="/uploads" method="post">
	<input type="password" name="secret">
	<input type="submit" value="Authorise">
</form>
<hr>

<% if(authorised){ %>
<div class="container" ng-controller="uploadCtrl">
	<div class="row">
		<div class="col-xs-4">
			<p>All uploads require you to fill in the fields: Title, What file you're uploading and Description. Other fields are based on what you're uploading on top of required fields, these are below:</p>
			<p>Link: Link & Section</p>			
			<p>PDF: Upload File & Section</p>		
			<p>Image & Video & Audio: Upload File</p>
		</div>
		<div class="col-xs-8">
			<div>
				<label for="a.type">Select what you are uploading</label>
				<select ng-model="a.type">
					<option value="link">Link</option>
					<option value="PDF">PDF</option>
					<option value="image">Image</option>
					<option value="video">Video</option>
					<option value="video">Audio</option>
				</select>
			</div>
			<div>
				<label for="a.title">Title</label>
				<input type="text" class="form-control" ng-model="a.title">
			</div>
			<div>
				<label for="a.desc">Description</label>
				<input type="text" class="form-control" ng-model="a.desc">
			</div>
			<div>
				<label for="a.link">Link</label>
				<input type="text" class="form-control" ng-model="a.link">
			</div>
			<div>
				<label for="a.section">Section</label>
				<select ng-model="a.section">
					<option value="loc">Local</option>
					<option value="reg">Regional</option>
					<option value="nat">National</option>
					<option value="int">International</option>
				</select>
			</div>
			<div>
				<label for="fileUpload">Upload File (Video, Image, PDF, Audio)</label>
				<input type="file" ng-file-select="fileSelected($files)">
			</div>
			<div>
				<p>Select the upload button corresponding to the asset</p>
				<input type="submit" value="Upload Link" ng-click="uploadLink()">
				<input type="submit" value="Upload PDF" ng-click="uploadFile('PDF')">
				<input type="submit" value="Upload Image" ng-click="uploadMedia('image')">
				<input type="submit" value="Upload Video" ng-click="uploadMedia('video')">
				<input type="submit" value="Upload Audio" ng-click="uploadMedia('audio')">
				<button class="btn btn-default" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">
			      Upload Image
			        </button>
			</div>
		</div>
	</div>
</div>

<% } else { %>

<p> Not authorised </p>

<% } %>
</body>
</html>