<!doctype html>
<html>
<head>
<script src="modules/jquery/dist/jquery.min.js"></script>
<script src="modules/angular/angular.min.js"></script>
<script src="modules/angular-route/angular-route.min.js"></script>
<script src="modules/angular-animate/angular-animate.min.js"></script>
<script src="javascripts/controllers.js"></script>
	<title>Upload here</title>
</head>
<style>
	div {padding: 5px;}
</style>
<body ng-app="portfolio">

<% if(authorised){ %>
<div ng-controller="uploadCtrl">
	<div>
		<div>
			<h2>To add something, select the appropriate type of file and fill out ALL of the criteria below.</h2>
			<form enctype="multipart/form-data" action="/info" method="post">
				<label for="type">What are you adding?</label>
				<select ng-init="type=''" ng-model="type" name="type">
					<option value="link" selected>Link</option>
					<option value="PDF">PDF</option>
					<option value="image">Image</option>
					<option value="video">Video</option>
					<option value="audio">Audio</option>
				</select>
				<div ng-show="type!=''">
					<div>
						<label for="title">Title</label>
						<input type="text" name="title">
					</div>
					<div ng-show="type=='link' || type=='PDF' || type=='video'">
						<label for="desc">Description</label>
						<input type="text" name="desc">
					</div>
					<div ng-show="type=='link' || type=='PDF'">
						<label for="section">Section</label>
						<select ng-init="section=''" ng-model="section" name="section">
							<option value="loc">Local</option>
							<option value="reg">Regional</option>
							<option value="nat">National</option>
							<option value="int">International</option>
						</select>
					</div>
					<div ng-show="type=='image'">
						<label for="desc">Name of folder</label>
						<select name="folder" ng-model="folder" ng-init="folder=''">
							<option ng-repeat="x in folders">{{ x }}</option>
						</select>
						<p>To add a new image folder, type in a name and click the button</p>
						<input type="text" ng-model="folName">
						<input type="button" value="Add Folder" ng-click="addFolder()">
					</div>
					<div>
						<input type="file" name="file">
					</div>
					<input type="submit" value="Add Asset">
				</div>	
			</form>	
		</div>
	</div>
	<div class="row">
		<h2> If needing to edit or delete any asset. Click the relevent button below and make any changes in the input boxes below this list.</h2>
		<table>
		<tr>
			<td>Type</td>
			<td>Title</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
		<tr ng-repeat="x in assets | orderBy: 'type'">
			<td> {{ x.type }} </td>
			<td> {{ x.title }} </td>
			<td><button ng-click="edit(x._id)">Edit</button></td>
			<td><button ng-click="delete(x._id)">Remove</button></td>
		</tr>
		</table>
	</div>
	<div ng-show="editTab" class="row">
		<div>Here you can make changes to any information about a particular asset you want.</div>
		<div ng-show="e.title">Title: <input ng-model="e.title"></div>
		<div ng-show="e.desc">Description: <input ng-model="e.desc"></div>
		<div ng-show="e.path">Path of asset: <input ng-model="e.path"></div>
		<div ng-show="e.folder">Folder: <input ng-model="e.folder"></div>
		<div ng-show="e.name">Name: <input ng-model="e.name"></div>
		<div ng-show="e.section">Section:
			<select ng-model="e.section">
				<option value="loc">Local</option>
				<option value="reg">Regional</option>
				<option value="nat">National</option>
				<option value="int">International</option>
			</select>
		</div>
		<button ng-click="makeChange(e.id)">Make Changes</button>
	</div>
</div>

<% } else { %>

<p>Please enter the password in order to go to the uploads page</p>
<form action="/uploads" method="post">
	<input type="password" name="secret">
	<input type="submit" value="Authorise">
</form>
<hr>

<p> Not authorised </p>

<% } %>
</body>
</html>