<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<p>
			Select what you are uploading:
			<select ng-model="a.type">
				<option value="link">Link</option>
				<option value="PDF">PDF</option>
				<option value="image">Image(s)</option>
				<option value="video">Video</option>
			</select>
			</p>
			<p>Form for uploading article (PDF or link)</p>
			<form name="uploadForm">
				<label for="email">Title</label>
				<input type="email" class="form-control" ng-model="a.title" required>
				<label for="">Description</label>
				<input type="text" class="form-control" ng-model="a.desc" required>
				<label for="email">Link</label>
				<input type="text" class="form-control" ng-model="a.title" required>
				<label for="email">Section</label>
				<select ng-model="a.section">
					<option value="loc">Local</option>
					<option value="reg">Regional</option>
					<option value="nat">National</option>
					<option value="int">International</option>
				</select>
				<input type="submit" value="Upload" ng-click="uploadArticle()">
			</form>
		</div>
		<div class="col-xs-4">
			<p>Place to upload image(s)</p>
		</div>
		<div class="col-xs-4">
			<p>Place to upload a video</p>
		</div>
	</div>
</div>