<div class="container mobile-text mobile-padding">
	<img src="images/profile.jpg" align="right" class="profile-img">
	I have more than 30 years’ experience in journalism starting as an editorial assistant for 
	<a href="http://www.shemag.com" target="_blank">SHE magazine</a> to working for <a href="http://www.times-series.co.uk" target="_blank">Newsquest’s Hendon Times Group</a> as senior reporter and then Group Features Editor. I have also worked for Teletext and have done radio packages on a freelance basis for the <a href="http://www.bbc.com/ukrainian" target="_blank">BBC Ukrainian Service</a>.
	<br><br>
	<a ng-click=" readMore = !readMore" ng-hide="readMore" class="read-text cursor">Read more..</a>

	<div ng-show="readMore">
		As well as freelancing features for the <a href="http://www.thecatholicuniverse.com/" target="_blank">Universe (a national Catholic newspaper)</a>, I also sold stories to the <a href="http://www.thetelegraphandargus.co.uk/" target="_blank">Bradford Telegraph and Argus</a>, various national newspapers and during the Gorbachev era was a London stringer for numerous Ukrainian and diaspora publications such as News From Ukraine, Ukraine magazine, <a href="http://www.brama.com/" target="_blank">Brama website</a> and <a href="http://www.ukrweekly.com/" target="_blank">The Ukrainian Weekly</a>.
		<br><br>
		I have also worked as a sub-editor for both <a href="http://www.newsquest.co.uk/" target="_blank">Newsquest</a> and <a href="http://www.trinitymirrorsouthern.co.uk/" target="_blank">Trinity Mirror Southern</a> and done subbing shifts on the <a href="http://www.dailystar.co.uk/" target="_blank">Daily Star</a>, <a href="http://www.southlondonpress.co.uk/" target="_blank">South London Press</a> and the <a href="http://www.stalbansreview.co.uk/" target="_blank">St Albans Observer</a>.
		<br><br>
		<a ng-click="readMore = !readMore" class="read-text cursor">Reduce text..</a>
	</div>
</div>